.footer {
    width: 100%;
    // min-height: 100px;
    position: relative;
    background-color: var(--primary);
    left: 0;
    margin-top: 50px;
    color: #fff;
    font-size: var(--font-size-small);
    // padding: 15px 0;

    &__top {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        // justify-content: space-between;
        padding: var(--marginVert) 0;

        &_title {
            color: var(--primary-lighten-50);
            margin-bottom: calc(var(--marginVert) * 0.5);
        }

        &_part {
            width: calc(100% / 5);
        }

        ul {
            li {
                a {
                    color: var(--fourth);
                }

                &:hover {
                    a {
                        color: var(--primary-lighten-50);
                    }
                }
            }
        }

        &_item {
            &--large {
                font-size: var(--font-size-base);
            }
        }
    }

    &__bottom {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--marginVert) 0;
        border-top: var(--borderThin);
        border-color: var(--fourth);

        &_part {
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
            }

            a {
                color: var(--layoutBackground);

                &:hover {
                    color: var(--primary-lighten-50);
                }
            }
        }
    }
}