@use "fonts" as *;
@use "sass:color";
@use "breakpoints" as bp;
@use "variables" as *;

.wrapper {
    width: var(--wrapperWidth);
    margin: 0 auto;

    &--row {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-top {
            align-items: flex-start;
        }
    }

    &--main {
        min-height: 100vh;
        display: block;
        position: relative;
        z-index: 1;
    }

    &--breadcrumbs {
        margin: 0 0 calc(var(--marginVert) * 2);

        ul {
            width: 100%;
            display: flex;
            flex-direction: row;

            li {
                a {
                    color: var(--secondary);
                    font-size: var(--font-size-small);
                }
            }

            span {
                color: var(--secondary);
            }
        }
    }

    &__intro {
        &_banner {
            width: 100%;
            min-height: calc(var(--wrapperWidth) / 7);
            overflow: hidden;
            margin: 0 auto calc(var(--marginVert) * 2);
            padding: 0;
            background-color: var(--third-lighten-85);
        }
    }

    &__content {
        // width: 100%;
        display: flex;
        flex-direction: row;
        gap: calc(var(--marginVert) * 2);

        &_bottom {
            width: 100%;
            height: auto;
            position: relative;

            &_title {
                width: 100%;
                min-height: calc(var(--marginVert) * 3);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: var(--marginVert);
                background-color: var(--third-lighten-75);
                color: var(--fourth);
                font-size: var(--font-size-large);
            }

            &_row {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: calc(var(--marginVert) * 1);
                margin-bottom: calc(var(--marginVert) * 2);

                &--4 {
                    .wrapper__content_bottom_link {
                        width: calc(100% / 4);
                    }
                }
            }

            &_link {
                width: calc(100% / 3);
                max-width: calc(100% / 3);
                min-width: 0;
                display: flex;
                flex-direction: column;
                position: relative;
                overflow: hidden;
                flex: 1;

                picture {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: relative;
                        object-position: center;
                        object-fit: cover;
                    }
                }

                span {
                    width: 100%;
                    height: calc(var(--marginVert) * 2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--secondary);
                    color: var(--fourth);
                    font-size: var(--font-size-small);
                }
            }
        }
    }

    &__category {
        &_filter {
            width: 100%;
            height: calc(var(--marginVert) * 2);
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: var(--marginVert) 0;
            padding: var(--marginVert) 0;
            border-top: var(--border_thin) solid var(--third-lighten-75);

            &_thumb {
                min-width: calc(var(--marginVert) * 1);
                height: auto;
                display: flex;
                flex-direction: row;
                margin-right: calc(var(--marginVert) * 1);

                .btn {
                    width: calc(var(--marginVert) * 2);
                    height: calc(var(--marginVert) * 2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    background-color: var(--third-lighten-85);
                    outline: none;
                    border: var(--border_thin) solid var(--third-lighten-75);
                    margin-right: calc(var(--marginVert) / 4);
                    cursor: pointer;

                    i {
                        color: var(--primary);
                    }

                    &:hover {
                        background-color: var(--secondary);
                        border-color: var(--primary);

                        i {
                            color: var(--fourth);
                        }
                    }
                }
            }

            &_select {
                width: auto;
                height: calc(var(--marginVert) * 2);
                display: flex;
                align-items: center;
                margin-right: calc(var(--marginVert) * 1);

                &--sort {
                    width: calc(var(--marginVert) * 18);
                }

                &--limit {
                    width: calc(var(--marginVert) * 4);
                }

                .form-control {
                    height: 100%;
                    border: var(--border_thin) solid var(--third-lighten-75);
                    padding: 0 calc(var(--marginVert) / 2);
                }
            }
        }
    }
}
