@use "fonts" as *;
@use "sass:color";
@use "breakpoints" as bp;
@use "variables" as *;

.wrapper {
    width: var(--wrapperWidth);
    margin: 0 auto;

    &--row {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-top {
            align-items: flex-start;
        }
    }

    &--main {
        min-height: 100vh;
    }
}
