@use "fonts" as *;
@use "sass:color";
@use "breakpoints" as bp;
@use "variables" as *;

.sidebar {
    width: calc(var(--wrapperWidth) / 4);
    min-height: 10vmin;
    display: flex;
    flex-direction: column;
    // background-color: #eaeaea;

    &__action {
        width: 100%;
        min-height: var(--sidebarActionHeight);
        display: block;
        position: relative;
        margin-bottom: calc(var(--marginVert) * 2);

        &_image {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                object-position: center;
                object-fit: cover;
            }
        }

        &_text {
            width: 100%;
            min-height: calc(var(--marginVert) * 2);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--sidebarBackground);
            text-align: center;
        }
    }
}
